<div class="main-section_menu page-width center">
  <div class="main-grid">
    
    {%- if section.settings.menu != blank -%}
      <ul class="list-menu list-menu--inline" role="list">
        {%- for link in section.settings.menu.links -%}
          <li>
            {%- if link.links != blank -%}
              <details-disclosure>
                <details>
                  <summary class="header__menu-item list-menu__item link focus-inset">
                    <span {%- if link.child_active %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                    {% render 'icon-caret' %}
                  </summary>
                  <ul class="header__submenu list-menu list-menu--disclosure caption-large motion-reduce" role="list" tabindex="-1">
                    {%- for childlink in link.links -%}
                      <li>
                        {%- if childlink.links == blank -%}
                          <a href="{{ childlink.url }}" class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if childlink.current %} list-menu__item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                            {{ childlink.title | escape }}
                          </a>
                        {%- else -%}
                          <details>
                            <summary class="header__menu-item link link--text list-menu__item focus-inset caption-large">
                              {{ childlink.title | escape }}
                              {% render 'icon-caret' %}
                            </summary>
                            <ul class="header__submenu list-menu motion-reduce">
                              {%- for grandchildlink in childlink.links -%}
                                <li>
                                  <a href="{{ grandchildlink.url }}" class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if grandchildlink.current %} list-menu__item--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                                    {{ grandchildlink.title | escape }}
                                  </a>
                                </li>
                              {%- endfor -%}
                            </ul>
                          </details>
                        {%- endif -%}
                      </li>
                    {%- endfor -%}
                  </ul>
                </details>
              </details-disclosure>
            {%- else -%}
              <a href="{{ link.url }}" class="header__menu-item header__menu-item list-menu__item link link--text focus-inset"{% if link.current %} aria-current="page"{% endif %}>
                <span {%- if link.current %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
              </a>
            {%- endif -%}
          </li>
        {%- endfor -%}
      </ul>
    {%- endif -%}

  </div>
</div>




{% schema %}
{
  "name": "Inline menu",
  "class": "menu-grid-section",
  "tag": "section",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "select",
      "id": "orientation",
      "options": [
        {
          "value": "horizontal",
          "label": "Horizontal"
        },
        {
          "value": "vertical",
          "label": "Vertical"
        }
      ],
      "default": "horizontal",
      "label": "Orientation"
    },
    {
      "type": "checkbox",
      "id": "add_image_padding",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.add_image_padding.label"
    }
  ],
  "blocks": [
    {
      "type": "product_item",
      "name": "Product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        }
      ]
    },
    {
      "type": "grid_item",
      "name": "Link",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Featured image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Inline menu"
    }
  ]
}
{% endschema %}
